body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

canvas {
    background-color: black;
}

div#options {
    margin: 10px;
    padding: 10px;
    position: fixed;
}

button {
    border: 0;
    padding: 2px 10px 2px;
    background-color: rgba(100,50,255,.5);
    color: white;
}

input[type='range'] {
    overflow: hidden;
}

#red, #green, #blue, #alpha {
    background-color: transparent;
}

#red::-webkit-slider-thumb {
    background: red;
}

#red::-moz-range-progress
{
    background-color: red;
}
#blue::-moz-range-progress
{
    background-color: blue;
}
#green::-moz-range-progress
{
    background-color: green;
}
#alpha::-moz-range-progress
{
    background-color: white;
}